<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/templates/crud-tradicional/plantilla.html::head">
    <title th:text="${titulo}">Listar</title>

</head>
<body>

<div th:insert="/templates/crud-tradicional/plantilla.html::header"></div>
<br>
<div class="container">
    <div class="jumbotron">
        <h1 class="display-4" th:text="${titulo}">....</h1>
        <br>
        <table class="table table-striped">

            <br>
            <thead>
            <tr>
                <th scope="col" style="width:25%">ID</th>
                <th scope="col " style="width:25%">Nombre</th>
                <th scope="col" style="width:25%">Precio</th>
                <th scope="col" style="width:25%">Cantidad </th>
                <th scope="col" style="width:25%">Acciones</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="producto : ${lista}">
                <th scope="row">
                    <a th:text="${producto.id}" th:href="'visualizar/'+${producto.id}"/>
                </th>
                <td th:text="${producto.nombre}">Producto</td>
                <td th:text="${producto.precio}">Precio</td>
                <td> Cantidad</td>
                <td>
                    <a th:text="Eliminar" th:href="'eliminar/'+${producto.id}" th class="btn btn-danger btn-sm"/>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td><a href="#" class="btn btn-warning"><i class="fa fa-angle-left"></i> Continuar Comprando</a></td>
                <td colspan="2" class="hidden-xs"></td>
                <td class="hidden-xs text-center"><strong>Total $0.00</strong></td>
                <td><a href="https://www.paypal.com/webapps/hermes?token=5EY097812P7754247&useraction=commit&mfid=1546377013907_cf1dec6830d7" class="btn btn-success btn-block">Checkout <i class="fa fa-angle-right"></i></a></td>
            </tr>
            </tfoot>
        </table>
        <br>

    </div>

    <!-- incluyendo la parte de javascript del template.        -->
    <div th:replace="/templates/crud-tradicional/plantilla.html::javascript">

    </div>

</div>
</body>

</html>